<ion-view view-title="123">
  <ion-nav-buttons side="right">
    <button class="ion-plus" ng-click="add()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list >
      <ion-item  ng-repeat="item in items" item="item" class="item-remove-animate">
        Item {{item.id}}
        <ion-option-button class="button-assertive" ng-click="edit(item)">编辑</ion-option-button>
        <ion-option-button class="button-calm" ng-click="delete(item)">删除</ion-option-button>
     </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
